body{
    background-image:url("pingus.jpeg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 73%;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: separate;
    border-spacing: 1%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 30%;
    border: 2px solid rgb(107, 107, 126);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 246, 115);
}
th, td {
    text-align: center;
    border: 1px solid rgba(143, 138, 138, 0.568);
    border-top: 2px solid rgba(0, 0, 0, 0.726);
    border-left: 2px solid rgba(0, 0, 0, 0.699);
}
th {
    background-color: rgb(255, 255, 255);
}
td {
    background-color: rgb(255, 246, 115);
}